.banner{
  background-color: #ded5de52;
  height: 40px;
  text-align: center;
}

#Dtable{

    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .items{
    float: right;
  }

  .deleteBtn{
    border-radius: 141px;
    margin-left: 5px;
    height: 29px;
    line-height: 0.9;
  }


.addBtn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.foodInp{
     border-top-right-radius: 3px! important;
     border-bottom-right-radius: 3px! important;
}

.foodhd{
  margin-top: 10px;
}
.priceInp{
  border-top-left-radius: 3px! important;
  border-bottom-left-radius: 3px! important;
}

.cancelBnt{
  float: right; 
  padding-top: 0;
  border-radius: 0px;
  margin-left: 5px;
  height: 25px;
  line-height: 0.9;
}
