<!-- Banner  -->
<div class=banner>Banner</div>
<!-- modal -->
<ngx-smart-modal #myModal identifier="myModal">
  <h1>Place Order</h1>
  <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" />
        <div class="invalid-feedback">
          <div>Name is required</div>
        </div>
        
      </div>
      <div class="formgroup" >
            <div class="">
                <label for="food">Food</label>
                <div class="" style="padding-right: 0;padding-left: 0;">
                    <div class="input-group">
                        <input type="text" class="form-control foodInput" id="food" style="z-index: 0;" placeholder="Enter food name" [(ngModel)]="task" name="food" />
                        <div class="input-group-btn" style="position: absolute;right: 0;">
                            <button class="btn btn-primary addBtn" type="button" (click)="onClick()">+
                <!-- <span class="glyphicon glyphicon-search"></span> -->
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <ul class="list-group">
                <li *ngFor="let task of tasks; let i = index;" class="list-group-item">
                    <span> {{ task.name }} </span>
                    <div class="items">
                      <div style="position: relative;">
                        <input type= "number" style="position: relative; padding-left: 20px"  placeholder= "0.00">
                        <span style="position:absolute;left: 8px;top: 4.5px;">	&#8358;</span>
                      <label (click)="onClickDelete(i)" class=" btn deleteBtn">x</label>
                      </div>

                    </div>
                </li>
            </ul>
        </div>
      <!-- </div> -->
  </form>
  <div style="text-align: center;">
    <button (click)="myModal.close()" class="btn btn-success" style="width: 80px; margin-right: 5px;">Submit</button>
    <button (click)="myModal.close()" class="btn btn-danger" style="width: 80px; margin-left: 5px;">Close</button>
  </div>
</ngx-smart-modal>


<!-- Table -->
<div class="container">
  <button class="btn btn-primary" style="float: right; margin-top: 30px; margin-bottom: 30px;" (click)="ngxSmartModalService.getModal('myModal').open()">Make Order</button>
  <table class="table table-striped">
    <thead>
      <tr style="text-align: center">
        <th scope="col" >#</th>
        <th scope="col" >Name</th>
        <th scope="col" >Order Type</th>
        <th scope="col" >Priority</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <!-- <tr>
        <th scope="row">2</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td></td>
        <td></td>
        <td></td>
      </tr> -->
    </tbody>
  </table>
</div>
