<!-- Banner  -->
<div class="banner">Banner</div>
<!-- modal -->
<ngx-smart-modal #myModal identifier="myModal">
  <h1>Place Order</h1>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        formControlName="name"
        class="form-control"
        name="name"
        id="name"
        placeholder="Enter name"
        required
      />
      <div class="foodhd">
        <label for="food">Food</label>
        <div class="" style="padding-right: 0;padding-left: 0;">
          <div class="input-group ">
            <input
              #newFood
              (keyup.enter)="addFood(newFood.value); newFood.value = ''"
              class="form-control foodInp"
              placeholder="Food Name"
              style="z-index: 0; margin-right: 24px;"
              input type="number;"
            />
            <input
              #newPrice
              (keyup.enter)="addPrice(newPrice.value); newPrice.value = ''"
              class="form-control priceInp"
              style="z-index: 0;"
            />
            <div class="input-group-btn" style="position: absolute;right: 0;">
              <button
                class="btn btn-primary addBtn"
                type="button"
                (click)="
                  addFood(newFood.value, newPrice.value);
                  newFood.value = '';
                  newPrice.value = ''
                "
              >
                +
              </button>
            </div>
          </div>
        </div>
        <br />
        <ul class="list-group">
          <input
            type="text"
            formControlName="subFoods"
            class="form-control"
            name="subFoods"
            [(ngModel)]="foods"
            id="subFoods"
            hidden
          />
          <li *ngFor="let food of foods; let i = index" class="list-group-item">
            <div class="input-group">
              <div style="margin-right: 200px; width: 200px">
              <span>{{ food.food_name }}</span>
              <input
                type="text"
                value="{{ food.food_name }}"
                name="food_name"
                id="food_name"
                hidden
              />
              </div>
              <div style="width: 200px;">
                <input
                  type="text"
                  value="{{ food.price }}"
                  name="price"
                  id="price"
                  hidden
                />
                <span>
                  &#8358; {{ food.price }}
                </span>
                <button (click)="onClickDelete(i)" class=" btn deleteBtn" style="float: right;">
                  x
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <button type="submit" class="btn btn-success" style="margin-left:296px;">
      Submit
    </button>
  </form>
</ngx-smart-modal>

<!-- Table -->
<div class="container">
  <button
    class="btn btn-primary"
    style="float: right; margin-top: 30px; margin-bottom: 30px;"
    (click)="ngxSmartModalService.getModal('myModal').open()"
  >
    Make Order
  </button>
  <table class="table table-striped">
    <thead>
      <tr style="text-align: center">
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <!-- <th scope="col">Order Type</th>
        <th scope="col">Priority</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let food of foodLists" >
        <td></td>
        <a href="" style=" text-decoration: none; color: black;"><td style="display: flex;">{{food.name}}</td></a>
      </tr>
    </tbody>
  </table>
</div>
