@import "~ngx-smart-modal/ngx-smart-modal";
@import "app/app.component";

/* You can add global styles to this file, and also import other style files */
body {
  margin: 0%;
}

.nsm-content {
  margin-top: 150px;
  width: 700px;
}

.nsm-dialog {
  max-width: 725px;
}
